html{
    background-color: #f5f5f5;
}

.header{
    margin: 0px;
    font-weight: 300;
}

.header{
    font-size: 20px;
    margin: 0px;
    color: black;
    margin-left: 10px;
}

.logo-login{
    height: 30px;
}

.navbar{
    box-shadow: 1px 2px 5px 4px lightgrey;
}

.navbar-brand{
    display: flex;
    align-items: flex-end;
}

.navbar-text{
    margin-right: 20px;
    padding: 0px;
}

.navbar-nav{
    display: flex;
    align-items: center;
}

.link-nav{
    padding: 0px;
    margin: 0px;
}

.pipeline{
    padding-bottom: 3px;
}

.setores{
    margin-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
}

.dropdown{
    height: 50px;
    border-radius: 10px;
}

.salas{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}

.card-body{
    text-align: center;
}

.card{
    width: 25vw;
}

.col{
    text-align: -webkit-center;
}

.btn-salas:hover{
    transform: scale(1.08);
    transition: 0.6s;
}

.modal{
    margin-top: 160px;
}

