html{
    background-color: #f5f5f5;
}

body{
    overflow-x: hidden;
}

.header{
    font-weight: 300;
    font-size: 20px;
    margin: 0px;
    color: black;
}

.voltar-links{
    display: flex;
    align-items: center;
}

.pipeline-voltar{
    padding-right: 4px;
    padding-bottom: 3px;
}

.pipeline-links{
    padding-left: 8px;
    padding-bottom: 3px;
}

.btn-voltar{
    transition: 0.3s;
    background-color: transparent;
}

.btn-voltar:hover{
    transform: scale(1.06);
    transition: 0.3s;
    background-color: rgba(187, 187, 187, 0.521);
}

.bi{
    fill: rgba(97, 97, 97, 0.801);
}

.voltar-tittle{
    vertical-align: middle;
}

.logo-login{
    height: 30px;
}

.navbar{
    box-shadow: 1px 2px 5px 4px lightgrey;
}

.navbar-brand{
    display: flex;
    align-items: flex-end;
}

.navbar-text{
    margin-right: 20px;
    padding: 0px;
}

.navbar-nav{
    display: flex;
    align-items: center;
}

.link-nav{
    padding: 0px;
    margin: 0px;
}

.voltar-pag{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.setores{
    margin-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
}

.dropdown{
    height: 50px;
    border-radius: 10px;
}

.salas{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}

.card-body{
    text-align: center;
}

.card{
    width: 25vw;
}

.col{
    text-align: -webkit-center;
}

.btn-salas:hover{
    transform: scale(1.08);
    transition: 0.6s;
}

.modal{
    margin-top: 160px;
}

.btn-close{
    background-color: transparent;
    transition: 0.3s;
}

.btn-close:hover{
    transform: scale(1.1);
    background-color: red;
    transition: 0.3s;
}

.com-modal{
    padding-top: 15px;
}

.comentario{
    width: 100%;
}

.btn-solicitar{
    transition: 0.3s;
}

.btn-solicitar:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.modal-footer{
    padding: 0px;
    padding-top: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
}

.container-alert{
    padding-top: 20px;
    padding-left: 680px;
    background-color: #f5f5f5;
}

.error{
    padding-top: 14px;
    padding-right: 7px;
}

.alert-error{
    z-index: 9999;
    height: 40px;
    width: 525px;
    margin-bottom: 0px;
}